<head>
  <title>Pusher Test</title>
  <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    // Enable pusher logging - don't include this in production
    // Pusher.log = function(message) {
    //   if (window.console && window.console.log) {
    //     window.console.log(message);
    //   }
    // };

    var pusher = new Pusher('be77e6f1a3890641c69f');
    var channel = pusher.subscribe('test_channel');
    channel.bind('my_event', function(data) {
      document.getElementById("test").innerHTML = data;
    });
  </script>
</head>

<div id="test"></div>

<script type="text/javascript">
  $(function(){
    var pusher  = new Pusher("<%= 'pusher-key' %>");
    var channel = pusher.subscribe("test_channel");
    channel.bind("my_event", function(html) {
      $("ul").prepend(html);
    });
  });
  $(document).ready(function(){
    $("#post").click(function(){
      $.ajax({
        type: "POST",
        url: "/pusher/create",
        data: "text="+$('#text').val(),
        success: function() {},
      });
    });
  })
</script>
<input type="text" id="text" />
<input type="button" id="post">送信</input>